<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro | Cantina Tech</title>
    <link href="../style.css" rel="stylesheet">
</head>
<body>

    <!--TELA CENTRAL-->
    <div>

        <!--TELA CADASTRO-->
        <div id="signUpScreen" class="bg-white w-full font-serif">

            <section class="bg-green-800 text-center  md:rounded-none">
                <div class="p-4 uppercase text-white font-semibold rounded-t-md md:rounded-none">
                    Solicitação de cadastro
                </div>
            </section>

            <!--Formulário Cadastro-->
            <section>
                <form id="singUpForm" class="mt-10 px-6 flex flex-col text-left md:mt-6 md:mx-36 lg:mx-72" autocomplete="off">

                    <div id="Error" class="text-sm text-red-600 text-right"></div>

                    <label for="singUpName">Nome</label>
                    <input 
                        class="bg-gray-200 focus:bg-gray-100 border border-gray-400 rounded-sm p-1 mb-3 focus:outline-none focus:border-blue-900" 
                    placeholder="Nome e sobrenome"  type="text" name="singUpName" id="singUpName">

                    <label for="singUpuser">CPF</label>
                    <input 
                        class="bg-gray-200 focus:bg-gray-100 border border-gray-400 rounded-sm p-1 mb-3 focus:outline-none focus:border-blue-900" 
                    placeholder="00000000000"  type="text" name="singCpf" id="singUpCpf">

                    <label for="signUpEmail">Email</label>
                    <input 
                        class="bg-gray-200 focus:bg-gray-100 border border-gray-400 rounded-sm p-1 mb-3 focus:outline-none focus:border-blue-900" 
                        placeholder="nome@email.com" type="email" name="signUpEmail" id="signUpEmail">

                    <label for="singUpPassword">Senha</label>
                    <input 
                        class="bg-gray-200 focus:bg-gray-100 border border-gray-400 rounded-sm p-1 mb-3 focus:outline-none focus:border-blue-900" 
                        placeholder="******"  type="password" name="singUpPassword" id="singUpPassword">
                    
                    <label for="confirmPassword">Confirmar Senha</label>
                    <input 
                        class="bg-gray-200 focus:bg-gray-100 border border-gray-400 rounded-sm p-1 mb-3 focus:outline-none focus:border-blue-900" 
                        placeholder="******" type="password" name="confirmPassword" id="confirmPassword">

                    <button id="registerButton" type="submit" 
                        class="bg-green-800 w-24 mt-4 mx-auto p-2 text-white font-medium rounded-lg hover:bg-green-700">
                    Cadastrar</button>
                </form>
            </section>

            <div class="mt-2 p-6 text-center md:p-4">
                <p>Já é cadastrado? <a href="../../index.html" id="backButton" class="text-green-800">Faça o login</a></p>
            </div>

        </div>
    </div>

    <script src="../assets/js/singUp.js"></script>
    <script src="../assets/js/validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
</body>
</html>